matplotlib==3.2.2
matplotlib-inline==0.1.2
-e git+https://github.com/ModernElectron/WarpX@801a4db1ee401e3893e3fdf6477e5e5c9e8fed3f#egg=mewarpx&subdirectory=mewarpx
mock==4.0.3
mpi4py==3.0.3
mpmath==1.2.1
multiprocess==0.70.12.2
numpy==1.21.
scipy==1.7.0
yt==3.6.1
